<div class="row mb-4">
  <div class="col">
    <%= form_with(model: user, html: {multipart: true}) do |form| %>
      <%= render 'error_messages', user: user %>

      <div class="mb-3">
        <%= form.label :name, class: 'form-lable' %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= form.label :email, class: 'form-lable' %>
        <%= form.email_field :email, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= form.label :avatar, class: 'form-lable' %>
        <p><%= image_tag(@user.avatar.thumb.url) if @user.avatar? %></p>
        <%= form.file_field :avatar, class: 'form-control' %>
      </div>
      <div class="actions mb-3">
        <%= form.submit class: 'btn btn-primary' %>
      </div>

      <div>
        <%= link_to t('forms.users.change_password_action'), edit_user_registration_path %>
      </div>
    <% end %>
  </div>
</div>
