<h2 class="mb-3"><%= t('forms.users.forget_password') %></h2>

<div class="row">
  <div class="col-md-6 mt-3 mb-4">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-3">
        <%= f.label :email, class: 'form-lable' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit t('forms.users.forget_password_action'), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
