<%= form_with(model: event) do |form| %>
  <%= render partial: 'partials/form_errors', locals: {model: event} %>

  <div class="mt-2">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="mt-2">
    <%= form.label :address %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>

  <div class="mt-2">
    <%= form.label :datetime %>
    <p><%= form.text_field :datetime, class: 'form-control', id: 'dp' %></p>
  </div>

  <div class="mt-2">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="mt-2">
    <%= form.label :pincode %>
    <%= form.text_field :pincode, class: 'form-control' %>
  </div>

  <div class="mt-2">
    <%= form.label :bg_photo %>
    <div class="d-flex justify-content-between">
      <div>
        <%= form.file_field :bg_photo, class: 'form-control' %>
      </div>
      <% if event.bg_photo.attached? %>
        <div>
          <%= link_to t('forms.events.default_bg'), delete_bg_image_event_path(@event),
            method: :delete, class: 'btn btn-danger' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="my-3">
    <%= form.submit event.persisted? ? t('forms.events.update') : t('forms.events.create'),
      class: 'btn btn-primary' %>
    <%= t('forms.events.or') %> <%= link_to t('forms.events.to_home_page'), :back %>
  </div>
<% end %>
