<h2 class="mb-3"><%= t('forms.pincode.title') %></h2>

<div class="row mb-4">
  <div class="col-md-6">
    <%= form_with(url: event_path, method: :post) do |form| %>
      <div class="mb-4">
        <%= form.label :pincode, t('forms.pincode.pincode'), class: 'form-lable mb-1' %>
        <%= form.text_field :pincode, class: 'form-control' %>
      </div>

      <div class="actions">
        <%= form.submit t('forms.pincode.enter'), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to t('forms.pincode.to_home_page'), events_path %>
