<%= form_for [@event, photo], html: { multipart: true } do |form| %>
  <%= render partial: 'partials/form_errors', locals: {model: photo} %>

  <div class="mb-3">
    <%= form.label :photo, class: 'form-lable' %>
    <%= form.file_field :photo, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit t('forms.photos.upload'), class: 'btn btn-primary' %>
  </div>
<% end %>
